{% load static %}
<html lang="en">

  <head>

     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">






    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">


    <title>Site d'imagerie Médicale</title>

<!--

Breezed Template

https://templatemo.com/tm-543-breezed

-->
    <!-- Additional CSS Files -->

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/tooplate-main.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/templatemo-breezed.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}"media="screen">
    <link rel="stylesheet" href="{% static 'css/flex-slider' %}"media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"media="screen">
    <link rel="stylesheet" href="{% static 'css/tableau.css' %}">
    <link rel="stylesheet" href="{% static 'JavaScript/import.js' %}" media="screen">



    </head>

    <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="http://127.0.0.1:9000/index2" class="logo">
                            Imagerie Médicale
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Accueil</a></li>
                            <li class="scroll-to-section"><a href="#about">Information</a></li>
                            <li class="scroll-to-section"><a href="#test">Diagnostic</a></li>
                            <li class="scroll-to-section"><a href="http://127.0.0.1:9000/index">Déconnexion</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Search Area ***** -->


    <!-- ***** Main Banner Area Start ***** -->
    <section class="section" >
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="{% static 'images/pm2.jpg' %}" style="position: fixed;
 top: 0;
 left: 0;
 min-width: 100%;
 min-height: 100%;" alt="">
                <div class="text-content">
                  <h3>Welcome To Imagerie Médicale</h3>
                  <h5>Best Site for pneumonia detection</h5>


                </div>
            </div>
          </div>

          <!-- // Item -->
        </div>
    </div>
    
        </section>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>INFORMATION</h6>
                            <h2>La pneumonie</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{% static 'images/pneumonie-schema.jpeg' %}" style="height: 520px;width: 520px" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-text-content">
                        <p>La pneumonie est une infection des poumons causée le plus souvent par un virus ou une bactérie.
                        <br><br>
                        L’infection touche plus précisément les alvéoles pulmonaires, ces minuscules sacs en forme de ballons situés à l’extrémité des bronchioles (voir le schéma ci-dessous). Elle touche généralement un seul des 5 lobes du poumon (3 lobes dans le poumon droit et 2 dans le gauche), d’où le terme pneumonie lobaire. Lorsque la pneumonie atteint aussi les bronches, on l’appelle bronchopneumonie.
                        <br><br>La pneumonie désigne en fait des infections très diverses qui peuvent être sans gravité ou mettre la vie en danger. Ainsi, si une pneumonie apparaît en complication d’une maladie grave ou chez une personne âgée, elle peut être mortelle. Dans de très rares cas, une pneumonie peut aussi être mortelle chez une personne en bonne santé.
                        <br><br>La pneumonie désigne en fait des infections très diverses qui peuvent être sans gravité ou mettre la vie en danger. Ainsi, si une pneumonie apparaît en complication d’une maladie grave ou chez une personne âgée, elle peut être mortelle. Dans de très rares cas, une pneumonie peut aussi être mortelle chez une personne en bonne santé.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Features Big Item Start ***** -->

    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->

    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Projects Area Starts ***** -->
    <section class="section" id="test">
         <div class="banner" style="display: flex;
  flex-wrap: space-between;margin-top: -120px;background-image: url(/static/images/186075.jpg);margin-top:15px">
      <div class="container"style=";margin-left: 140px">
        <div class="row">
          <div class="col-md-12">
            <div class="caption">
              <h2>Execution</h2>
              <div class="line-dec"></div>
               <img id="image_org" src="{% static 'img/img.jpg' %}"alt="" width="200" height="200" style="margin-left: 75px;margin-top: -1px">

              <form action="/external/" method="post" >
             {%csrf_token%}
                  <p id="demo"></p>

                  <div class="file-field">
                      <div class="btn blue-gradient btn-sm float-left">
                          <span><i class="fas fa-cloud-upload-alt mr-2" aria-hidden="true"></i></span>
                          <input id="upload_img" type="file"  style="margin-left: 100px" name="upload">
                          <input id="input_box" type="text" placeholder="&nbsp;" name="path" required style="display:none">
                      </div>
                  </div>



                  <div class="main-button">
                <input style="background-color: #3a8bcd;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-decoration: none;
	margin-left:90px;
	transition: all 0.5s;" type="submit" value="Diagnostiquer">


              </div>
              </form>
            </div>
          </div>
        </div>
      </div>

        <div class="container" >
        <div class="row">
          <div class="col-md-12">
            <div class="caption">
              <h2>Description Radiologique</h2>
              <div class="line-dec"></div>
             <p style="font-size:20px;color:#000;"><b>{{data1}}</b></p>
            </div>
          </div>

        </div>
      </div>
    </div>

        <form id="contact" action="/sendMail/" method="post">
                            {%csrf_token%}
        <div class="container" >
        <div class="row">
          <div class="col-md-12">
            <div class="caption">
              <h2 style="margin-top:30px;margin-left:90px">Liste des patiens</h2>
              <div class="line-dec"></div>
             <div class="col-md-6" style="margin-left: -50px;margin-top: -80px;">
                              <div class="left-image">
                              <table class="tableau-style">

                              <thead>
                              <tr>
                              <th>Name</th>
                              <th>Email</th>
                              </tr>
                              </thead>


                              <tbody>
                              {% for f,m in context%}
                              <tr>
                              <td>{{f}}</td>
                              <td>{{m}}</td>
                              </tr>
                              {% endfor %}
                              </tbody>
                              </table>
                              </div>
                              </div>

                             <div class="col-lg-12" >
                              <fieldset style="margin-bottom:120px;margin-top:-170px;margin-left:70px;display: flex;justify-content: center;">
                                <button type="submit" id="form-submit" class="main-button-icon" value="Executer">Send email <i class="fa fa-arrow-right" ></i></button>
                              </fieldset>
                            </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    </form>


    </section>
    <!-- ***** Projects Area Ends ***** -->

    <!-- ***** Testimonials Starts ***** -->

    <!-- ***** Testimonials Ends ***** -->

    <!-- ***** Contact Us Area Starts ***** -->

    <!-- ***** Contact Us Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>USTHB &copy; 2020</p>
                    </div>
                </div>


            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imgfix.min.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);

            });
        });

    </script>

  </body>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script><!-- Bootstrap tooltips -->

  <script>

    function readURL() {
        var $input = $(this);
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#image_org').attr('src', e.target.result).show();
            }
            reader.readAsDataURL(this.files[0]);
            var input_box = document.getElementById("input_box");
            input_box.value = document.getElementById("upload_img").value;
        }
    }

    $("#upload_img").change(readURL);
    $("#affich").change(readURL);


  </script>
  <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</html>







